* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;

}

:root{
    --eduteka-black-500: #202229;
    --edutekaLab-primary-000: #E5F5FF;
    --edutekaLab-primary-400: #33ADFF;
    --edutekaLab-primary-500: #0099FF;
    --edutekaLab-primary-600: #007ACC;
    --edutekaLab-primary-800: #003D66;
    --edutekaLab-primary-900: #001F33;
    --edutekaLab-primary-1000: #000F1A;

    --neutral-grey: #6C757D;
    --neutral-black: #14161B;
    --neutral-white: #F7F5FE;

}

.title-1{
    font-family: "Figtree", sans-serif;
    font-size: 2.986rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.239px;

}


.title-2{

    font-family: "Figtree";
    font-size: 2.488rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.199px;
    margin-bottom: 0;

}

.large-title{

    font-family: "Figtree";
    font-size: 2.074rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.166px;
    margin-bottom: 0;
}

.subtitle-1{
    font-family: "Figtree";
    font-size: 1.728rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.13px;
    margin-bottom: 0;
}

.headline{
    font-family: "Figtree";
    font-size: 1.44rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.115px;
    margin-bottom: 0;

}

.subtitle-2{

    font-family: "Figtree";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.096px;
    margin-bottom: 0;
}

.button{
    font-family: "Figtree";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.08px;
    margin-bottom: 0;
}

.txt-body{

    font-family: "Almarai";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.08px;
    margin-bottom: 0;
}

.caption{
    font-family: "Almarai";
    font-size: 0.833rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.067px;
    margin-bottom: 0;
}

.overline{
    font-family: "Almarai";
    font-size: 0.694rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.889px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.btn-primary{
    border: 1px solid var(--edutekaLab-primary-400);
    background: var(--edutekaLab-primary-400);
}

.btn-primary:hover{
    border: 1px solid var(--edutekaLab-primary-600);
    background: var(--edutekaLab-primary-600);
}

.btn-primary:disabled{
    border: 1px solid var(--neutral-grey);
    background: #D9D9D9;
    color: #6C757D;
    
}

.btn-outline-primary{
    border-radius: 8px;
    border: 1px solid var(--edutekaLab-primary-400);
    background: var(--neutral-white);
    color: var(--edutekaLab-primary-400);
}

.btn-outline-primary:hover{
    border-radius: 8px;
    border: 1px solid var(--edutekaLab-primary-400);
    background: var(--edutekaLab-primary-000);
    color: var(--edutekaLab-primary-400)
}

.btn-outline-primary:disabled{
    border-radius: 8px;
        border: 1px solid #B3B3B3;
        color: #B3B3B3;
        background: var(--neutral-white
);
}

.btn-secondary{
    border-radius: 8px;
    background-color: var(--eduteka-black-500);
    color: var(--neutral-white);

}

.btn-secondary:hover{
    background-color: var(--edutekaLab-primary-800);

}

.btn-secondary:disabled{
    border-radius: 8px;
    background-color: #D9D9D9;
    color: #B3B3B3;
    border: 1px solid #B3B3B3;
}

.btn-outline-secondary{
    border-radius: 8px;
    background-color: var(--neutral-white);
    color: var(--neutral-black);
    border-width: 0px;
}

.btn-outline-secondary:hover{
    background-color: #343A40;

}

.btn-outline-secondary:disabled{
    border-radius: 8px;
    background-color: #D9D9D9;
    color: #B3B3B3;
    border: 1px solid #B3B3B3;
}

.filtro-busqueda{
    display: inline-flex;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
    border-radius: var(--space-xxl, 32px);
    border: 2px solid var(--neutral-grey);
}

.filtro-busqueda:hover{
    display: inline-flex;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 64px;
    border: 2px solid var(--neutral-grey);
    background: rgba(30, 30, 30, 0.17);
    cursor: pointer;
}

.filtro-busqueda.selected{

    display: inline-flex;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 8px;
    border-radius: var(--space-xxl, 32px);
    border: 2px solid var(--eduteka-lightBlue-500, #ECF6FB);
    background: var(--edutekaLab-primary-400);
    color: var(--neutral-white);
}

#resourse-card{
    display: flex;
    min-width: 240px;
    gap: var(--space-xxl, 32px);
    border-radius: 8px;
    border: var(--sds-size-stroke-border) solid var(--neutral-white);
    background: var(--neutral-white);
    color: var(--eduteka-black-500);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
    overflow: hidden;

    /* sombra-l */
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
}

#resourse-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--neutral-white);
}

#resourse-card-title{
    color: var(--edutekaLab-primary-500)
}

#card-indicator-dei{
    padding: 4px;
    margin: 0;
    border-radius: 4px;
    background-color: var(--neutral-black);
    color: var(--neutral-white);
    font-family: "Almarai";
    font-size: 11.11px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.056px;
}


#resourse-card-body{
    display: flex;
    min-width: 160px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}


#resourse-card-body h6{
    color: var(--neutral-grey);
}

#resourse-card-body-txt{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;

    line-clamp: 3; /* Standard property */
    -moz-box-orient: vertical; /* Firefox */
    -ms-box-orient: vertical; /* Internet Explorer */
    box-orient: vertical; /* Standard property without prefix */
}

#resourse-card-body a{
    text-decoration: none;
}

#resourse-card-classification{
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

#resourse-card-classification-area{
    color: var(--edutekaLab-primary-900);

}

#resourse-card-classification-separator{
    color: var(--edutekaLab-primary-500);

}

#resourse-card-classification-class{
    color: var(--neutral-grey);

}

#resourse-card-bottom{
    display: flex;
    padding: 24px 0;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

#resourse-card-bottom-resourse{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

#resourse-card-bottom p.caption{
    color: var(--neutral-grey);
}



